<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- for static -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->

    <!-- dotfile -->
    <link rel="stylesheet" href=".hello.css">
    <title>Document</title>
</head>
<body>
    <h1>Serve Static files!</h1>
    <img src="img/options.PNG" alt="" width="200px">
    
    
    <!-- for static -->
    <!-- <img src="static/img/options.PNG" alt="" width="200px"> -->



    <script src="js/script.js"></script>
<!-- for static -->
    <!-- <script src="static/js/script.js"></script> -->
</body>
</html>