<!-- header and nav -->
<%- include('./partials/header.ejs')%>
<div class="wrapped">

    <div class="container text-left">
        <div class="row mx-auto">
            <div class="col-6 mt-5 pt-5">
                <h2 class="railway-bold">Hello, I'm Professional Web Developer</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum dolorem quod consequatur veritatis recusandae commodi alias quia sed est saepe velit expedita aliquam, accusantium laborum corporis similique at nam ut, quaerat beatae exercitationem dignissimos animi iusto? Hic vero repudiandae repellendus aliquam dolores deserunt, itaque magnam sapiente cupiditate nostrum qui!</p>
            </div>  <div class="col-6">
                    <figure class="profile-img text-center">
                        <img src="img/image-5.jpg" alt="">
                    </figure>
            </div>
        </div>
   </div>
        </div>


<!-- footer -->
<%- include('./partials/footer.ejs')%>