<!-- header and nav -->
<%- include('./partials/header.ejs')%>


<div class="wrapped">
     <div class="sercies">
             <h1 class="railway-bold">We Offering Services</h1>
             <ol>
                <li>Web Development</li>
                <li>DevOps and Architectural Level</li>
                <li>Database like Azure & AWS</li>
                <li>Deployment </li>
                <li>Hosting</li>
             </ol>
     </div>
</div>

<!-- footer -->
<%- include('./partials/footer.ejs')%>