<!-- header and nav -->
<%- include('./partials/header.ejs')%>

<div class="wrapped">
    <div class="sercies">
            <h1 class="railway-bold">Our Skills</h1>
            <ol>
               <li>Php | Javascript</li>
               <li>Node JS | Express JS</li>
               <li>React JS | Angular | Vue.js</li>
               <li>MongoDB | Oracle | MySQL</li>
               <li>Docker | Kubernetes</li>
            </ol>
    </div>
</div>

<!-- footer -->
<%- include('./partials/footer.ejs')%>